h3 {
    font-size: 22px;
    font-weight: 600;
}

hr {
    border-top: 3px solid #000000;
}

.default {
    background-color: #344C92;
    width: 30px;
    color: white;
    height: 40px;
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

sub-title {
    color: #344C92;
}

/* .sidebar span {
    font-weight: 300px;
    font-size: 12px;
}

aside i {
    font-size: 15px;
} */

@media (min-width: 1200px)
{
    #main {
        margin-left: 200px;
    }
}
