.containerEvent {
  /* padding: 20px; */
  /* background-color: #f4f6fb; */
}



.title {
  color: #000A65;
  font-weight: 600;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
}

.card-info {
  padding: 6px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 280px;
  padding: 3px;
  border: solid 1px rgb(215, 215, 215);
  cursor: pointer;
  transition: all 0.3s ease; /* Menambahkan transisi halus */
}

.card:hover {
  /* width: 340px; */
  background-color: #f7f7f7;
  padding: 4px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2); /* Membuat shadow lebih tebal */
}

.tombol-detail-daftar{
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
}

.tombol-daftar[disabled] {
  background-color: rgb(186, 186, 186);
  cursor: not-allowed;
}


.tombol-detail{
  width: 50%;
  height: 40px;
  background-color: #f7f7f7;
  font-size: 16px;
  border: 1px solid #d6d6d6;
  color : #465159;
}

.tombol-daftar{
  width: 50%;
  height: 40px;
  background-color: #1e3dd4;
  font-size: 16px;
  border: 1px solid #d6d6d6;
  color : #ffffff;

}


.event-image {
  width: 100%;
  /* height: 300px; */
  height: 350px;
  border-radius: 10px;
}

h3 {
  display: flex;
  flex: start;
  margin: 15px 0;
  font-size: 20px;
  color: #333;
}

.price {
  display: flex;
  flex: start;
  color: #FF0000;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

.original-price {
  color: #999;
  text-decoration: line-through;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 5px;
}

.date {
  display: flex;
  flex: start;
  color: #555;
  margin-top: 10px;
  font-size: 16px;
}

.image-title{
  height: 80%;
}

.harga-date{

}


/* Media query untuk lebar layar di bawah 700px tetapi di atas 375px */
@media (min-width: 510px) and (max-width: 800px) {
  .card {
    width: calc(50% - 20px); /* Mengatur lebar kartu agar ada 2 kartu per baris */
  }
}

/* Media query untuk lebar layar di bawah 375px */
@media (min-width: 375px) and (max-width: 510px) {
  .card {
    width: calc(50% - 10px); /* Mengatur lebar kartu menjadi 100% pada layar lebih kecil dari 375px */
    padding: 2px;
  }

  .containerEvent {
    width: 100%;
    padding: -10px;
  }

  .nama-pelatihan{
    font-size: 16px;
  }

  .date {
  font-size: 12px;
  }

  .price {
    display: flex;
    flex: start;
    color: #FF0000;
    font-weight: bold;
    font-size: 12px;
    /* margin: 10px 0; */
    text-align: center;
    align-items: center;
  }
  
  .original-price {
    font-size: 10px;
    display: flex;
    /* margin-bottom: 20px; */
    text-align: center;
   
  }

  .harga-date {
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

}

/* Tambahkan border-radius untuk kedua tombol */
.tombol-detail,
.tombol-daftar {
    /* padding: 10px 20px; */
    border-radius: 5px; /* border-radius untuk membuat sudut membulat */
    /* border: none; */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animasi untuk efek hover */
}

/* Tombol Detail */
/* .tombol-detail {
    background-color: #007bff;
    color: white;
} */

/* Tombol Daftar */
/* .tombol-daftar {
    background-color: #28a745;
    color: white;
} */

/* Hover effect untuk kedua tombol */
.tombol-detail:hover,
.tombol-daftar:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Memberikan bayangan saat di-hover */
}
