.event-detail-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: space-between; */
    /* gap: 2px; */
    
}

@media (max-width: 700px) {
    .event-detail-container {
        width: 100%;
        background-color: #fff;
    }
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: fit-content;
    width: 100%; /* Ubah width menjadi 100% atau sesuai kebutuhan */
    padding: 10px;
    border: solid 1px rgb(215, 215, 215);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
    position: sticky; /* Menambahkan posisi sticky */
    top: 50px; /* Agar card tetap terlihat di jarak 10px dari atas saat discroll */
}

.card-info {
    width: 100%;
}

.tombol-daftar{
    width: 50%;
    height: 40px;
    background-color: #1e3dd4;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    color : #ffffff;
  
  }

  .additional-info {
    list-style-type: none; /* Menghilangkan gaya bullet default */
    padding-left: 0;
}

.additional-info li::before {
    content: "- "; /* Menggunakan strip atau ganti dengan "− " jika ingin negatif */
    color: #000; /* Atur warna sesuai kebutuhan */
    margin-right: 5px;
}

.event-body{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.event-detail {
    background-color: #fff;
    width: 70%;
    justify-self: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 800px; */
    margin: 0 auto;
}

.card{
    width: 30%;
}

.event-header {
    display: flex;
    /* justify-content: center; */
}

.image-container{
    width: 40%;
}


.event-title {
    font-size: 26px;
    font-weight: bold;
    color: #002366;
    text-align: center;
    margin-bottom: 20px;
}

.event-color-blue {
    color: #002366;
    font-weight: 600;
}

.event-image {
    width: 100%;
    height: auto;
    display:flex;
}

.image-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-benefit-materi {
    width: 60%;
}

.event-body {
    /* display: flex; */
    /* flex: start; */
}

.greeting {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #555;
    text-align: start;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-section {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
}

.benefit-materi {
    width: 100%;
    /* display:; */
    /* justify-content: space-between; */
}


/* .section-benefit {
    width: 50%;
}

.section-materi {
    width: 50%;
} */

@media (max-width: 700px) {
    .benefit-materi {
        flex-direction: column;
    }

    .section {
        margin-bottom: 20px; /* Tambahkan jarak antara section jika diperlukan */
    }

    .section-benefit{
        width: 100%;
    }

    .section-materi{
        width: 100%;
    }


}


.benefits, .materials {
    width: 45%;
}

.benefits h3, .materials h3 {
    font-size: 16px;
    color: #002366;
    margin-bottom: 10px;
}

.benefits ul, .materials ul {
    list-style: disc;
    margin-left: 20px;
    color: #444;
}

.mentor-investasi {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.section-mentor {
    width: 50%;
}

.section-investasi {
    width: 50%;
}



.mentor-invest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.mentors, .investment {
    width: 45%;
}

.mentors h3, .investment h3 {
    font-size: 16px;
    color: #002366;
    margin-bottom: 10px;
}

.mentors ol {
    list-style: decimal;
    margin-left: 20px;
    color: #444;
}

.price {
    font-size: 16px;
    color: #e60000;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.investment-desc {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.event-footer {
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

.register-button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #002366;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* margin-top: 20px; */
}

.register-button.disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

@media (max-width: 700px) {
    .register-button {
        width: 30%;
    }

    
}

@media (min-width:700px) and (max-width: 988px) {
    .image-detail{
        width: 100%;
        /* height: 500px; */
    }

    .event-detail-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        /* gap: 2px; */
        
    }

    .event-body{
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 40%;
    }

   

    
}


@media (min-width: 450px) and (max-width: 700px) {
    .mentor-investasi {
        flex-direction: column;
    }

    .event-detail-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-detail{
        width: 100%;
    }

    .card-info{
        width: 100%;
        justify-content: center;
        align-items: center;
        /* display: flex; */
    }

    .card {
        width: 100%;
    }

    .register-button{
        width: 100%;
    }

    .event-footer{
        width: 100%;
    }

    .section {
        margin-bottom: 20px; /* Tambahkan jarak antara section jika diperlukan */
    }

    .section-mentor{
        width: 100%;
    }

    .section-investasi{
        width: 100%;
    }

    .section-benefit-2{
        display: none !important;
    }
}

@media (max-width: 450px) {
    .mentor-investasi {
        flex-direction: column;
    }

    .event-body{
        flex-direction: column;
    }

    .detail-benefit-materi{
        width: 100%;
    }

    .image-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-detail{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-detail-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-detail{
        width: 100%;
    }

    .card-info{
        width: 100%;
        justify-content: center;
        align-items: center;
        /* display: flex; */
    }

    .card {
        width: 100%;
    }

    .register-button{
        width: 100%;
    }

    .event-footer{
        width: 100%;
    }

    .section {
        margin-bottom: 20px; /* Tambahkan jarak antara section jika diperlukan */
    }

    .section-mentor{
        width: 100%;
    }

    .section-investasi{
        width: 100%;
    }

    .section-benefit-2{
        display: none !important;
    }
}
